{{ form_start(form) }}
    {{ form_row(form.name, {'label': 'Nom de la catégorie'}) }}
    <button class="btn btn-primary">{{ button_label|default('Créer la catégorie') }}</button>
{{ form_end(form) }}
