{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="my-4">Modifier la catégorie</h1>

        {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('category_index') }}" class="btn btn-secondary mt-3"> <i class="bi bi-arrow-left"></i> Retour à la liste</a>

        {{ include('category/_delete_form.html.twig') }}
    <div class="container py-5">
{% endblock %}
