{% extends 'base.html.twig' %}

{% block title %}UE-L222 | Categories{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="my-4">Catégories</h1>

        {% if categories|length > 0 %}
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item">
                        <a href="{{ path('articles_by_category', {'id': category.id}) }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-center">No categories found.</p>
        {% endif %}

        <a href="{{ path('category_new') }}" class="btn btn-primary mt-4">Créer une nouvelle catégorie</a>
    </div>
{% endblock %}