{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1 class="my-4">Create new Article</h1>
    {% if app.user %}
        <p class="lead fst-italic">Par {{ app.user.firstName }} {{ app.user.lastName | upper}}</p>
    {% endif %}
    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}" class="btn btn-secondary mt-3">Back to list</a>
{% endblock %}
