{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1>Créer un nouvel utilisateur</h1>

        {{ include('user/_form.html.twig') }}

        <a href="{{ path('app_user_index') }}" class="btn btn-secondary mt-3"> <i class="bi bi-arrow-left"></i> Revenir à la liste</a>
    </div>
{% endblock %}
